#welcome .jumbotron {
    background: $primary;
    color: lighten($primary, 35%);
    margin-top: -20px;
}

#welcome .jumbotron__header,
.jumbotron h1 {
    font-weight: bold;
    color: white;
    margin-top: 0;
}

#welcome .jumbotron__body {
    max-width: 80%;
    margin-bottom: 0;
    line-height: 1.6em;
}

#welcome .jumbotron__header, .jumbotron h1 {
    font-weight: lighter;
}

#welcome h2 {
    margin-bottom: 20px;
}

#welcome .steps {
    max-width: 80%;
    padding-left: 0;
    list-style: none;
    counter-reset: welcome-steps;
}

#welcome .steps > .steps__item {
    margin-bottom: 2.5em;
    padding: 19px;
    border: 1px solid $gray-lighter;
    border-radius: 4px;
    overflow: hidden;

		@media (max-width: 991px) {
			display: none;
		}
	}

	.body {
		float: left;
	}

	h2 {
		font-weight: bold;
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
