vendor/*
!vendor/cartalyst
vendor/cartalyst/*
!vendor/cartalyst/api
!vendor/cartalyst/themes
!vendor/platform
vendor/platform/composer-installers
vendor/platform/extensions
vendor/platform/foundation
composer.phar
composer.lock
.DS_Store