/**
 * Include the old CSS however we don't touch it
 * so it's easy to upgrade in the future. We'll
 * add our ammendments below
 */             
@import url('vendor/datatables/datatables.css');

/**
 * Pagination
 */
.paginate_enabled_previous {
	background-image: url('../img/vendor/datatables/back_enabled.png');
}
.paginate_enabled_previous:hover {
	background-image: url('../img/vendor/datatables/back_enabled_hover.png');
}
.paginate_disabled_previous {
	background-image: url('../img/vendor/datatables/back_disabled.png');
}

.paginate_enabled_next {
	background-image: url('../img/vendor/datatables/forward_enabled.png');
}
.paginate_enabled_next:hover {
	background-image: url('../img/vendor/datatables/forward_enabled_hover.png');
}
.paginate_disabled_next {
	background-image: url('../img/vendor/datatables/forward_disabled.png');
}

/**
 * Sorting
 */
.sorting {
	background-image: url('../img/vendor/datatables/sort_both.png');
}
.sorting_asc {
	background-image: url('../img/vendor/datatables/sort_asc.png');
}
.sorting_desc {
	background-image: url('../img/vendor/datatables/sort_desc.png');
}

.sorting_asc_disabled {
	background-image: url('../img/vendor/datatables/sort_asc_disabled.png');
}
.sorting_desc_disabled {
	background-image: url('../img/vendor/datatables/sort_desc_disabled.png');
}

/**
 * Bootstrap Integration
 */

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin: 1em 0;
	clear: both;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}
 
table.table thead .sorting {
	background: url('../img/vendor/datatables/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc {
	background: url('../img/vendor/datatables/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
	background: url('../img/vendor/datatables/sort_desc.png') no-repeat center right;
}
 
table.table thead .sorting_asc_disabled {
	background: url('../img/vendor/datatables/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled {
	background: url('../img/vendor/datatables/sort_desc_disabled.png') no-repeat center right;
}
