# We will ignore all platform / cartalyst extensions
# in the themes, as these will be separated into their
# own extensions and published upon installation.
/*/*/extensions/platform/*
/*/*/extensions/cartalyst/*

!.gitignore
