// Global values
// --------------------------------------------------

@base:					#821d52;
@sidebar:				#821d52;
@page:					#f7f7f7;
@content:				#ffffff;

@baseEtch:				#64163f;
@baseEtchLight:			#a72568;

@etch:					#ddd;



// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #761b42;



// Scaffolding
// -------------------------
@bodyBackground:        @base;
@textColor:             @grayDark;





// Links
// -------------------------
@linkColor:             @purple;
@linkColorHover:        darken(@linkColor, 15%);
